{{!
/**
 *  snekw.com,
 *  Copyright (C) 2017 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
{{#> header}}
  {{#each projects}}
    <link rel="preload" as="image" href="{{indexImageUrl}}"/>
  {{/each}}
{{/header}}
{{#>layout}}
  <ul>
    {{#each projects}}
      <li>
        {{>projectBrief}}
      </li>
    {{/each}}
  </ul>
  <div class="container">
    <div class="pagination">
      {{#each pagination}}
        <a class="{{#if this.active}}active{{/if}} {{#if this.disabled}}disabled{{/if}}" {{#if
            this.disabled}}aria-disabled="true" tabindex="-1" {{/if}} href="/archive/{{this.href}}">{{this.page}}</a>
      {{/each}}
    </div>
  </div>
{{/layout}}