{{#> layout}}
  {{#*inline "header"}}
  {{/inline}}
<div>
  {{#if user}}
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
  {{/if}}

  {{#each projects}}
    {{> project}}
  {{/each}}
</div>
{{/layout}}