{{!
/**
 *  snekw.com,
 *  Copyright (C) 2017 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
{{#>layout}}
  {{#unless user.username}}
    <div class="container error-text">
      <span class="error">Username is required!</span><br>
      <span>Please set username in the box below to continue to use the site.</span>
    </div>
  {{/unless}}
  <div class="container">
    <form action="/user/update/username" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" value="{{user.username}}"
             class="{{#unless user.username}}error-highlight{{/unless}}">
      <input type="submit">
    </form>
    <form action="/user/update/picture" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <label for="imgUrl">Profile picture:</label>
      <input type="text" name="imgUrl" id="imgUrl" value="{{user.picture}}">
      <input type="submit">
    </form>
  </div>
{{/layout}}