{{!
/**
 *  snekw.com,
 *  Copyright (C) 2017 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
<ul>
  <li>
    <a id="adminNavToggle" class="inline active" href="">
      <span>
          Toggle
          <i class="right-nom material-icons">menu</i>
      </span>
    </a>
  </li>
  <li>
    <a class="inline active" href="/admin">
      <span>
        Test
        <i class="right-nom material-icons">face</i>
    </span>
    </a>
  </li>
  <li>
    <a class="inline active" href="/admin">
      <span>
        Test
        <i class="right-nom material-icons">face</i>
    </span>
    </a>

  <li>
    <a class="inline active" href="/admin">
      <span>
        Test
        <i class="right-nom material-icons">face</i>
    </span>
    </a>
  </li>
  <li>
    <a class="inline active" href="/admin">
      <span>
        Test
        <i class="right-nom material-icons">face</i>
    </span>
    </a>
  </li>
  <li>
    <a class="inline active" href="/admin">
      <span>
        Test
        <i class="right-nom material-icons">face</i>
    </span>
    </a>
  </li>
  <li>
    <a class="inline active" href="/admin">
      <span>
        Test
        <i class="right-nom material-icons">face</i>
    </span>
    </a>
  </li>
  <li>
    <a class="inline" href="/admin">
      <span>
        Test
        <i class="right-nom material-icons">face</i>
    </span>
    </a>
  </li>
</ul>
<script src="/static/admin.js"></script>