{{!
/**
 *  snekw.com,
 *  Copyright (C) 2017 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
<div class="admin-project">
  <div class="project-flex-info project-flex-info-row">
    <img src="{{indexImageUrl}}" class="project-img-small">
    <div class="project-flex-info">
      <a href="/project/id/{{_id}}">
        <span class="large-text bold">{{title}}</span>
      </a>
      <span class="small-text">By: {{author.username}}</span>
    </div>
  </div>
  <div class="project-flex-info project-flex-info-row">
    {{#if_eq public 0}}
      <div class="admin-edit-controls admin-public-false">
        Private
      </div>
    {{/if_eq}}
    {{#if_eq public 1}}
      <div class="admin-edit-controls admin-public-true">
        Public
      </div>
    {{/if_eq}}
    {{#if_eq public 2}}
      <div class="admin-edit-controls admin-public-link">
        Link only
      </div>
    {{/if_eq}}
    <div class="admin-edit-controls">
      {{>editControls}}
    </div>
  </div>
</div>