{{!
/**
 *  snekw.com,
 *  Copyright (C) 2017 Ilkka Kuosmanen
 *
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="{{@root.meta.description}}">
  {{#if @root.meta.robots}}
    <meta name="robots" content="{{@root.meta.robots}}">
  {{/if}}
  <title>{{@root.title}}</title>
  {{{css "main third-party/prism"}}}
  {{#>header}}{{/header}}
</head>
<body>
  {{>nav}}
  <noscript>
    <style>
      #noscript {
        background-color: red;
      }
    </style>
    <div id="noscript">
      Some of the features do not work with Javascript disabled. Most of them do work. If you are just visiting the site
      don't worry. All features will work just fine for you. Only administrative features need javascript enabled.
    </div>
  </noscript>
  <div id="content">{{> @partial-block}}</div>
</body>
</html>
