/**
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "vars";

.container {
  background-color: $primary-color;
  color: $text-color-primary;
  text-align: left;
  width: calc(90vw - 1em);
  margin: 5vh auto 5vh auto;
  padding: 1em;
  border-radius: $general-border-radius;
  border-style: hidden;
  .container {
    padding: 0;
  }

  @media screen and (max-width: $break-small) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: $break-large) {
    width: 960px;
    margin: 5vh auto 5vh auto;
    padding: 5vh 5vw 5vh 5vw;
  }
  h2 {
    word-wrap: break-word;
  }
}

.right {
  float: right;
  margin-right: 10vw;
  @media screen and (max-width: $break-small) {
    margin-right: 1px;
  }
}

.left {
  float: left;
  margin-left: 10vw;
  @media screen and (max-width: $break-small) {
    margin-left: 1px;
  }
}

.right-nom {
  float: right;
}

.left-nom {
  float: left;
}

.pagination {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  a {
    color: $text-color-primary;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;

    @media screen and (max-width: $break-small) {
      padding: 4px 8px;
    }

    &.active {
      background-color: $secondary-color;
      color: $text-color-primary;
    } 

    &:hover:not(.active) {
      background-color: $accent-color;
    }

    &.disabled {
      pointer-events: none;
    }
  }
}

.adminControls {
  a {
    padding: 0;
    margin: 4px;
    text-align: left;
    display: inline-block;
  }
}

.large-text {
  font-size: large;
}

.bold {
  font-weight: bold;
}

.small-text {
  font-size: small;
}

.error-text {
  color: $error-color;
  font-weight: bold;
}

.error-highlight {
  border: solid $error-color;
}

.low-margin {
  margin-top: 3px;
  margin-bottom: 3px;
}

.radio {
  padding-left: 5px;
}

.link-only {
  background-color: $secondary-color;
}
