/**
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "vars";

.container {
  background-color: $primary-color;
  color: $text-color-primary;
  text-align: left;
  width: 70%;
  margin: 5vh auto 5vh auto;
  padding: 5vh 5vw 5vh 5vw;
  border-radius: 2px;
  border-style: hidden;
}

.right {
  float: right;
  padding-right: 10vw;
}
.left {
  float: left;
  padding-left: 10vw;
}

.nav {
  display: block;
}

.pagination {
  width: 50%;
  margin: auto;
  a {
    color: $text-color-primary;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    &.active {
      background-color: $secondary-color;
      color: $accent-color;
    }

    &:hover:not(.active) {
      background-color: $accent-color;
    }

    &.disabled{
      pointer-events: none;
    }
  }
}