/**
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
$primary-color: #a1a1a1;
$background-color: #444444;
$accent-color: #ff9511;
$text-color-primary: #000000;
$text-color-secondary: #e3e0e1;
$secondary-color: #848484;
$link-color: #222222;
$prism-code-background-color: #272822;

$break-extra-small: 415px;
$break-small: 500px;
$break-large: 1200px;
$break-800: 800px;

$admin-nav-width: 50%;
$admin-nav-max-width: 200px;
$admin-nav-icon-size: 24px;

$general-border-radius: 3px;
$general-border-radius-alt: 5px;