/**
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "vars";

$article-img-width: 50px;

.admin-area {
  margin: 0.7em 0 0 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  border-top: solid $accent-color;
  box-sizing: border-box;
}

.admin-container {
  background-color: $primary-color;
  flex: 0 1 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-nav-container {
  flex: 0 1 auto;
  float: left;
  min-width: $admin-nav-icon-size;
  width: 100%;
  max-width: $admin-nav-max-width;
  background-color: $secondary-color;
  border-right: solid $accent-color;
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }

  @media screen and (max-width: $break-small) {
    max-width: $admin-nav-width;
  }
}

.active {
  background-color: $accent-color;
}

.toggle-hide {
  span {
    display: none !important;
  }
  width: $admin-nav-icon-size !important;
}

.inline {
  width: 100%;
  min-width: $admin-nav-icon-size;
  min-height: $admin-nav-icon-size;
  display: block;
  border-radius: $general-border-radius;
  border-style: hidden;
  &:hover {
    background-color: whitesmoke;
  }
  span {
    font-size: large;
    margin-left: 0.3em;
    line-height: $admin-nav-icon-size;
  }
  i {
    line-height: $admin-nav-icon-size;
  }
}

.admin-article {
  flex: 0 1 80px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  border-bottom: solid $accent-color;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: $secondary-color;
  }
}

.article-img-small {
  flex: 0 1 $article-img-width;
  margin: 0;
  order: 1;
  width: $article-img-width;
  height: $article-img-width;
}

.article-flex-info {
  order: 2;
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1em;;
  align-self: center;
  span {
    padding: 0.1em;
    overflow-wrap: break-word;
  }

  a {
    text-decoration: none;
  }
}

.article-flex-info-row {
  flex-direction: row;
}

.admin-edit-controls {
  order: 3;
  border-radius: $general-border-radius;
  align-self: flex-end;
}

.admin-public-false {
  padding: 0.2em;
  background-color: red;
}

.admin-public-true {
  padding: 0.2em;
  background-color: green;
}

.admin-public-link {
  padding: 0.2em;
  background-color: #445aab;
}

.admin-article-selected {
  background-color: $background-color;
}
