/**
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "vars";
@import "index";
@import "project";
@import "containers";
@import "button";

html, body {
  margin: 2.4em 0 0 0;
  padding: 0;
  background-color: $background-color;
}

nav {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5vh;
  background-color: $primary-color;
  border-bottom: solid;
  border-bottom-color: $accent-color;
}

a {
  color: $link-color;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  @media screen and (max-width: $break-small) {
    margin: 0;
  }
  &[src = ""] {
    display: none;
  }
}

hr {
  border-color: $accent-color;
  border-style: solid;
}

p {
  line-height: 1.5em;
  margin: auto;
  text-align: left;
  width: 100%;
  word-wrap: normal;
  font-size: large;
}

code {
  padding: 0.3em 0.4em 0.3em 0.4em;
  border-radius: 2px;
  border-style: hidden;
  background-color: $prism-code-background-color;
  color: $text-color-secondary;
  word-wrap: normal;
}

pre {
  padding: 1px 2px 1px 2px;
  border-radius: 2px;
  border-style: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: medium;
  line-height: 1.5em;
}