/**
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "vars";
@import "index";
@import "project";
@import "containers";
@import "button";

html, body {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  //margin: 2.4em 0 0 0;
  padding: 0;
  background-color: $background-color;
}

nav {
  order: 1;
  flex: 0 0 auto;
  //position: absolute;
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5vh;
  background-color: $primary-color;
  border-bottom: solid $accent-color;
  img {
    flex: 0;
    margin: auto;
    @media screen and (max-width: $break-extra-small) {
      display: none;
    }
  }
  div {
    flex: 0;
    order: 1;
    display: flex;
    a {
      overflow-wrap: normal;
      white-space: nowrap;
    }
  }
}

#content{
  flex: 0 1 91%;
  order: 2;
  align-self: stretch;
}

a {
  color: $link-color;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 5px;
  @media screen and (max-width: $break-small) {
    margin: 0;
  }
  &[src = ""] {
    display: none;
  }
}

hr {
  border: solid $accent-color;
}

p {
  line-height: 1.5em;
  margin: 1em auto;
  text-align: left;
  width: 100%;
  word-wrap: normal;
  font-size: large;
}

code {
  padding: 0.3em 0.4em 0.3em 0.4em;
  border-radius: 2px;
  border-style: hidden;
  background-color: $prism-code-background-color;
  color: $text-color-secondary;
  word-wrap: normal;
}

pre {
  padding: 1px 2px 1px 2px;
  border-radius: 2px;
  border-style: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: medium;
  line-height: 1.5em;
}

blockquote {
  border-radius: 0 5px 5px 0;
  border-left: 1em solid $accent-color ;
  margin-left: 1em;
  padding: 0.5em;
  background-color: $secondary-color;
  p{
    margin: 0;
  }
}