/**
 *  This file is part of snekw.com.
 *
 *  snekw.com is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  snekw.com is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with snekw.com.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "vars";

.md {
  width: 50%;
  height: 90vh;
  padding: 0;

  &.md-left {
    float: left;
  }
  &.md-right {
    float: right;
    background-color: $secondary-color;
  }

  textarea {
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    padding: 0.5em;
    overflow-y: scroll;
  }
}

.controls {
  height: 2em;
  width: 100%;
}

.mdOut {
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  padding: 0.5em;
  overflow-y: scroll;
  margin: 0;
}

.mdEditor {
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  padding: 0.5em;
  overflow-y: scroll;
  background-color: $text-color-secondary;
  direction: ltr;
}

.mdContainer {
  width: calc(100% - 2vw - 2em);
  height: 90vh;
  margin: 2em;
}

.upl-browser-img {
  width: 40px;
  height: 40px;
}

#attached-uploads-target, #available-uploads-target{
  min-height: 40px;
  max-height: 60vh;
  overflow-y: scroll;
  border: solid $background-color;
  :hover{
    background-color: $accent-color;
  }
}